html {
    min-width: fit-content;
}
body {
    min-width: fit-content;
    margin: 0;
    font-size: var(--font-size);
    font-family: Helvetica Neue, Helvetica,Arial,sans-serif; ;
}


.sections-wrapper {
    width: 100%;
    display: flex;
}

.header-wrapper {
    background-image: url(./assets/mobile/image-header.jpg);
    background-size: cover;
    background-position: bottom;   
    background-repeat: no-repeat;
    
    padding: 30px 20px 300px 20px;
    
    position: relative;
}

.arrow-down {
    position: absolute;
    /* arrow  pointing into orange  */
    bottom: 138px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
.menu-bar {
    display: none;
}

.menu-sign {
    color: white;
    font-size: x-large;
}

.title {
    font-family: var(--font-family-2);
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-sign {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-wrapper a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-header{
    color: var(--neutral-white);
    font-weight: var(--font-weights-3);
    font-size: 45px;

    text-align: center;
    margin-top: 70px;
    letter-spacing: 0.1em;
}

/* text section styles */
.section-wrapper {
    /* width: 100%;  do not recomment because of this option 
    this paticular class will overflow from main body and make vertical scroller */
    display: flex;

    padding-left: var(--text-padding-sides);
    padding-right: var(--text-padding-sides);
}

.sections-wrapper {
    display: flex;
    flex-direction: column;
}

.image-section-wrapper img {
    width: 100%;
    height: 100%;
}

.text-section-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    text-align: center;
    padding: var(--section-padding-top-bottom) var(--text-padding-sides);
}

.text-section-wrapper .title{
    font-size: var(--title-font-size);
    font-weight: var(--font-weights-3);
    color: var(--neutral-blue);

    margin-bottom: 30px;
    
}

.text-section-wrapper .text{
    color: var(--neutral-gray-1);
    line-height: 1.75em;
}

.text-section-wrapper a:link, .text-section-wrapper a:visited {
    color: var(--neutral-blue);
    font-family: var(--font-family-2);
    font-weight: var(--font-weights-3);
    text-decoration: none;
    font-size: larger;

    margin-top: 30px;
}

/* image text section styles */
.image-text-section-wrapper{
    padding-top: 400px;
    background-size: cover;
    background-position: top;   
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    padding-bottom: var(--section-padding-top-bottom);
    text-align: center;
}

.image-text-section-wrapper .title {
    font-size: x-large;
    margin: 30px;
    font-weight: var(--font-weights-3);
}

.image-text-section-wrapper .text {
    line-height: 1.75em;
    font-size: 16px;
}

.cherry {
    background-image: url(./assets/mobile/image-graphic-design.jpg);
}

.cherry .title, .cherry .text {
    color: var(--primary-cyan-text);
}

.orange {
    background-image: url(./assets/mobile/image-photography.jpg);
}

.orange .title, .orange .text {
    color: var(--primary-blue);
}

/* client testimonials */

.client-testimonials {
    display: flex;
    flex-direction: column;
    padding-top: var(--section-padding-top-bottom);
    padding-bottom: var(--section-padding-top-bottom);
}

.client-testimonials>.title {
    text-align: center;
    color: var(--neutral-gray-3);
    font-weight: var(--font-weights-2);
    font-size: larger;
    letter-spacing: 0.1em;
}

.client-testimonial {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-top: var(--section-padding-top-bottom);
}

.client-testimonial img {
    border-radius: 50%;
    margin: 10px;
    width: 50%;
}

.client-testimonial .text {
    line-height: 1.75em;
    color: var(--neutral-gray-1);
    margin: 15px;
}

.personal-info .title {
    color: var(--neutral-blue);
    margin: 10px;
    font-size: large;
}

.personal-info .subtitle {
    color: var(--neutral-gray-2);
    font-size: 16px;
}

/* gallery */

.gallery{
    display: flex;
    flex-wrap: wrap;
}

/* relative square image */

.gallery .image-wrapper{
    position: relative;
    width: 50%;
}

.gallery .image-wrapper:after{
    content: "";
    display: block;
    padding-bottom: 100%;
}

.gallery .image-wrapper>img {
    position: absolute; /* Take your picture out of the flow */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; /* Make the picture taking the size of it's parent */
    width: 100%; /* This if for the object-fit */
    height: 100%; /* This if for the object-fit */
    object-fit: cover; /* Equivalent of the background-size: cover; of a background-image */
    object-position: center;
}

/* footer  */

.footer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: var(--section-padding-top-bottom);
    padding-bottom: var(--section-padding-top-bottom);

    background-color: var(--primary-cyan-footer);
    color: var(--primary-cyan-text);
}

.menu-options {
    display: flex;
    justify-content: space-around;
}

.footer-wrapper a:link, .footer-wrapper a:visited {
    color: var(--primary-cyan-text);
    text-decoration: none;
}

.social-media {
    
}
