body {
    margin: 0px;
    font-size: var(--font-size);
    font-family: Helvetica Neue, Helvetica,Arial,sans-serif; ;
}

.section-wrapper {
    width: 100%;
    display: flex;
}

.sections-wrapper {
    width: 100%;
    display: flex;
}

.header-wrapper {
    background-image: url(./assets/mobile/image-header.jpg);
    background-size: cover;
    background-position: bottom;   
    background-repeat: no-repeat;
    
    padding: 30px 20px 300px 20px;
    
    position: relative;
}

.arrow-down {
    position: absolute;
    /* arrow  pointing into orange  */
    bottom: 138px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
.menu-bar {
    display: none;
}

.menu-sign {
    color: white;
    font-size: x-large;
}

.title {
    font-family: var(--font-family-2);
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-sign {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-wrapper a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-header{
    color: var(--neutral-white);
    font-weight: var(--font-weights-3);
    font-size: 50px;

    text-align: center;
    margin-top: 70px;
}

.sections-wrapper {
    display: flex;
    flex-direction: column;
}

.image-wrapper img {
    width: 100%;
    height: 100%;
}
