body {
    margin: 0px;
    font-size: var(--font-size);
    font-family: Helvetica Neue, Helvetica,Arial,sans-serif; ;
}

.section-wrapper {
    width: 100%;
    display: flex;
}

.sections-wrapper {
    width: 100%;
    display: flex;
}

.header-wrapper {
    background-image: url(./assets/mobile/image-header.jpg);
    background-size: cover;
    background-position: bottom;   
    background-repeat: no-repeat;
    
    padding-bottom: 300px;
    
}

.menu-bar {
    display: none;
}

.menu-sign {
    color: white;
}