:root{
    --font-size: 18px;
    --mobile-width: 375px;
    --desktop-width: 1440px;
    
    /* colors */
    --primary-red: hsl(7, 99%, 70%);
    --primary-yellow: hsl(51, 100%, 49%);
    --primary-cyan-text: hsl(167, 40%, 24%);
    --primary-cyan-footer: hsl(168, 34%, 41%);
    --primary-blue: hsl(198, 62%, 26%);

    --neutral-blue: hsl(212, 27%, 19%);
    --neutral-gray-1: hsl(213, 9%, 39%);
    --neutral-gray-2: hsl(232, 10%, 55%);
    --neutral-gray-3: hsl(210, 4%, 67%);
    --neutral-white: hsl(0, 0%, 100%);
    
    --font-family-1: "Barlow", serif;
    --font-family-2: "Fraunces", serif;

    --font-weights-1: 600; 
    --font-weights-2: 700; 
    --font-weights-3: 900; 
}